In [17]:
# leap year
def leap_year(year):
    leap = False
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                leap = True
        else:
            leap = True
    return leap

In [18]:
#Print out all numbers before a given number

n=int(input("Enter a number: "))

for i in range (1, n+1):
    print(i,end= '')

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# Permutations
"""The problem:
You need to generate all possible lists [i,lj,k]
where i in range 0 to x, j in range 0 to y, k in range 0 to z
But you must exclude any list where the sum of 3 numbers equal to n"""

x = int(input("Enter x: "))
y = int(input("Enter y: "))
z = int(input("Enter z: "))
n = int(input("Enter n: "))

result = [[i,j,k]
          for i in range(x+1)
          for j in range(y+1)
          for k in range(z+1)
          if i+j+k != n] 
print (result)

[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 0, 3], [0, 1, 0], [0, 1, 1], [0, 1, 2], [0, 1, 3], [0, 2, 0], [0, 2, 1], [0, 2, 2], [0, 2, 3], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 0, 3], [1, 1, 0], [1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 0], [1, 2, 1], [1, 2, 2]]

In [ ]:
# Runner-up score
score = int(input("Enter a number: "))
arr = map(int, input().split())

score = sorted(set(arr), reverse=True)
runner_up = score[1]
print(runner_up)

5

In [ ]:
# Find the second 
n = int(input())

students = []

for _ in range(n):
    name = input()
    scores = float(input())
    students.append([name,scores])

# Generate unique scores
unique_scores = sorted({s for _, s in students})

# Get the second lowest scores 
second_score = unique_scores[1]

# Print out the name of the person of the second lowest score
second_score_name = sorted([name for name, s in students if s == second_score ])

for name in second_score_name:
    print(name)
                           
# The reson we use placeholder is because we tell Python tp “Run this loop a certain number of times (whatever number the user enters),
# but I don’t actually need to use the loop variable.”

* Step-by-step breakdown:

**for _, s in students**

students is a list of lists (nested list) — e.g.

students = [["Harry", 37.21], ["Berry", 37.21], ["Tina", 37.2]]


* When you write for _, s in students, each sublist [name, score] is unpacked into two variables:

_ → gets the name (we don’t use it, so _ is a placeholder)

s → gets the score

{s for _, s in students}

* This is a set comprehension — it builds a set of all the s (scores).

* The curly braces {} mean "make a set" (unique values only).

In [ ]:
# Print out the average score of each student in the query. Scores are stored as list of values

n = int(input())
students = {}

for _ in range(n):
    data = input().split()
    name = data[0]
    scores = list(map(float, data[1:]))
    students[name] = scores 

    query_name = input().strip()

    avg_score = sum(students[query_name])/len(students[query_name])

    print(f"{avg_score:.2f}")

68.00
77.00
56.00

In [ ]:
# Capitalize the first letter in a word in a string. 
# In case a string starts with a numer and the next element is a single character, capitablize it
def solve(s):
    result = '' 
    capitalize_next = True 

    for char in s:
        if char == ' ':
            capitalize_next = True
            result += char 
        elif capitalize_next and char.isalpha():
            result += char.upper()
            capitalize_next = False
        else:
            result +=char
            capitalize_next = False 

    return(result)

In [ ]:
# Function parameters
def complicated_function(*args, **kwargs):
    return (args, kwargs)
    pass 

complicated_function(1,2,3,a=1, s="hello")

((1, 2, 3), {'a': 1, 's': 'hello'})

In [ ]:
# More examples:
def test(a, b, c=True, d=False):
    print(a,b,c,d)
    pass

In [ ]:
test(*[1,2], **{"c":"hello", "d":"bye"})

1 2 hello bye

### map, zip, enumerate

#### 1. map()

* allow you to pass a function to all elements in an iterable

In [ ]:
lst = [1000, 4000, 16000, 150, 9001, 1500]

def greater_than_9000(x):
    if x > 9000:
        return True
    return False 

result = map(greater_than_9000, lst)
print(result)

<map object at 0x00000198C1681E70>

In [ ]:
# Extract mapping into a new list
mapped_list = [*map(greater_than_9000,lst)]
print(mapped_list)

[False, False, True, False, True, False]

In [ ]:
# Use map with lambda function
mapped_list_1 = [*map(lambda x:x>9000, lst)]
print(mapped_list_1)

[False, False, True, False, True, False]

| Concept                | What it is                                                             | Purpose                                       |
| ---------------------- | ---------------------------------------------------------------------- | --------------------------------------------- |
| **List comprehension** | A **compact syntax** to build a new list from an existing iterable     | To **generate** or **filter** data            |
| **Lambda function**    | A **small anonymous function** (no name) created with `lambda` keyword | To **define a function inline** for short use |


| Feature                       | **List Comprehension**                | **Lambda Function**                                                    |
| ----------------------------- | ------------------------------------- | ---------------------------------------------------------------------- |
| **Creates**                   | A list                                | A function                                                             |
| **Returns**                   | A list object                         | A function object                                                      |
| **Common Use**                | Generating lists quickly              | Writing short, inline functions (e.g., with `map`, `filter`, `sorted`) |
| **Needs loop?**               | Yes, usually iterates over items      | No, applies logic to inputs                                            |
| **Can include conditionals?** | Yes (`if` inside comprehension)       | Yes (inside expression)                                                |
| **Example use**               | `[x for x in range(5) if x % 2 == 0]` | `lambda x: x % 2 == 0`                                                 |

##### Lambda function

In [ ]:
add_on = lambda x, y: x+y

result = add_on(1,7)
print(result)

8

In [2]:
# map function with lambda function
my_nums = [1,2,3,4,5,6,7,8,9]
resp = list(map(lambda x: x**2,my_nums))
print(resp)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# filter function with lambda function
evens = list(filter(lambda x: x%2==0, my_nums))
print(evens)

[2, 4, 6, 8]

In [5]:
# sort function with lambda function
values = [(1, "b", "hello"),(2, "a", "world"), (3, "c", "OK")]

sorted_values = sorted(values, key=lambda x: x[1])
print(list(sorted_values))

[(2, 'a', 'world'), (1, 'b', 'hello'), (3, 'c', 'OK')]

In [3]:
# More advanced examples

from functools import reduce

numbers = [1,2,3,4,5]

#Using reduce to sum the list without initializer
sum_of_numbers = reduce(lambda acc, x:acc+x, numbers)
print(sum_of_numbers)

#Using reduce to find the maximum value
max_value = reduce(lambda acc, x:acc if acc > x else x, numbers)
print(max_value)

15
5

#### 2. zip function
* The built-in zip() function in Python is used to combine multiple iterables (like lists, tuples, etc.) element-wise into tuples. It “zips” them together so that the first elements form one tuple, the second elements form another, and so on.

In [ ]:
latitude = [4,5,6,4,6,2,4,5,6]
longitude = [6,3,6,3,4,5,6,8,5]

[*zip(latitude, longitude)] #<-- More pythonic

# The '*' operator is used to unpack the zipped object into a list of tuples. (like list(zip(latitude, longitude)))

[(4, 6), (5, 3), (6, 6), (4, 3), (6, 4), (2, 5), (4, 6), (5, 8), (6, 5)]

In [5]:
# zip will continue up to the length of the shortest input iterable.

short = [1,2,3,4]
long = [1,2,3,4,5,6,7,8]

[*zip(short, long)]

[(1, 1), (2, 2), (3, 3), (4, 4)]

In [6]:
# If you want to keep all items, user itertools.zip_longest

from itertools import zip_longest
[*zip_longest(short, long, fillvalue=0)]

[(1, 1), (2, 2), (3, 3), (4, 4), (0, 5), (0, 6), (0, 7), (0, 8)]

#### 3. Enumerate
* return sequence of (index, item) tuples

In [7]:
characters = ["Krillin", "Goku", "Vegeta", "Gohan", "Piccolo"]
list(enumerate(characters))

[(0, 'Krillin'), (1, 'Goku'), (2, 'Vegeta'), (3, 'Gohan'), (4, 'Piccolo')]

In [8]:
# Use enumerate() in a for loop to get an index and its item

for index, character in enumerate(characters):
    print(index, character)

0 Krillin
1 Goku
2 Vegeta
3 Gohan
4 Piccolo

In [9]:
# Store index of duplicate items in a dictionary
characters_1 = ["Krillin", "Goku", "Goku", "Gohan", "Piccolo",
              "Krillin", "Goku", "Vegeta", "Gohan", "Piccolo",
              "Piccolo", "Goku", "Vegeta", "Goku", "Piccolo"]

character_map = {character:[] for character in set(characters)}


for index, character in enumerate(characters_1):
    character_map[character].append(index)

character_map

{'Krillin': [0, 5],
 'Vegeta': [7, 12],
 'Gohan': [3, 8],
 'Goku': [1, 2, 6, 11, 13],
 'Piccolo': [4, 9, 10, 14]}